

<!-- <div class="row">
  <div class="col-md-6">
    <h2 class="btn btn-primary">clients</h2>
    </div>
    <div class="col-md-6">
      <h5 class="pull-right text-muted">Total Owed: {{totalOwnd}}</h5>

    </div>
  </div> -->

<table *ngIf="clientArray?.length>0;else noClient" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th> ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Balance</th>
      <th>date</th>
      <th>doctor</th>
      
    </tr> </thead>
    <tbody>
      <tr *ngFor="let client of clientArray">
        <td>{{client.doctor_id}}</td>
        <td>{{client.clientName}} </td>
          <td>{{client.email}}</td>
          <td>{{client.balance}}</td>
          <td>{{client.date}}</td>
          <td>{{client.doctor}}</td>
            <td> <a  class="btn btn-danger btn-sm"  (click)="getDetail(client._id)"><i class='fa fa-arrow-circle-o-right' ></i> Details</a> </td>
        
          </tr>
     
    </tbody>
  </table>
   
<ng-template #noClient>
  <hr>
  <h4> there are no client in the system</h4>
</ng-template>

<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>