table {
  border-collapse: collapse;
  width: 100%;
}

th {
    background-color: #4CAF50;
    color: white;
    width:100%;
    
  }
  tr {
   width: 100%;
  }
  tr:nth-child(even) {
    background-color: #0f0808;
    color: white;
  }