<div class="row">
  <div class="col-md-6">
    <a routerLink="/client" href="#" class="btn btn-link"><i class="fa fa-window-close"></i> Back To Dashboard</a>
  </div>
  <div class="col-md-6">

  </div>
  
</div>


<div class="card">
  <div class="card-header">
    Add Client
  </div>

  <!-- name -->
  <div class="card-block">
    <form [formGroup]="form">
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter your name" pattern="[a-zA-Z ]*">
          <mat-error *ngIf="this.form.get('name').hasError('pattern')">
           Invalid Name
          </mat-error>
          <mat-error *ngIf="this.form.get('name').hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

        <!-- balance -->
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Balance</mat-label>
          <input matInput type="number" formControlName="balance" placeholder="Enter your Balance">
          <mat-error *ngIf="this.form.get('balance').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

        <!-- email -->
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter your email">
          <mat-error *ngIf="this.form.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="this.form.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

        <!-- date -->
      <div class="form-group">
        <mat-form-field class="example-full-width">
          <mat-label>Date</mat-label>
          <input matInput formControlName="date" placeholder="Enter your date">
         
          <mat-error *ngIf="this.form.get('email').hasError('required')">
            date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>



  <input *ngIf="isEdit" type="submit" (click)="onUpdate(form)" class="btn btn-danger btn-block" value="Update">
  <input *ngIf="!isEdit" type="submit" (click)="onSubmit(form)" class="btn btn-danger btn-block" value="Submit">
  </form>
</div>
